<script>
$( document ).ready(function (){
 appsChangeState();
});
</script>
<div id="appListContainer">
    <div id="appsList">
      <% if(typeof apps !== 'undefined'){apps.forEach(function(app){ %>
	<input id=<%="app"+app.id%> <% if(app.isprivate==1) { %>checked<% }%> type="checkbox" value = <%=app.id%> />
	<%=app.name%> <!--<a class="close" onclick="removeApp(<%=app.id%>);">x</a>--><br/>  
      <%});}%>
    </div>
</div>
<!--
<div id="addAppForm">
        <input type="text" id="appNameField" placeholder="New app name">
        <input type="submit" value="Add">
</div>
-->