<div id="appListContainer">
    <div id="appsList">
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
        <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Internet exeplorer 8
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Firefox
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    <span class="oneApp">
        <label>
            <input checked  type="checkbox">
            Google Chrome By google Inc
        </label>
    </span>
    </div>
</div>
<div id="addAppForm">
        <input type="text" placeholder="New app name">
        <input type="submit" value="Add">
</div>