<head>

  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<div id="content">
  <iframe src="./keywords" id="configList" scrolling="yes">
  </iframe>
  <iframe src="./screenshotsPrivacyFilterPreviewer" id="previewer" scrolling="no">

  </iframe>
</div>
