<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<div id="content">
  <iframe src="./configList" id="configList" scrolling="yes" frameBorder="no"></iframe>
  <iframe src="./screenshotsPrivacyFilterPreviewer" id="previewer" scrolling="no" frameborder="no"></iframe>  
</div>
