<head>
  <title>Keywords</title>
  <link rel="stylesheet" type="text/css" href="/styles/jquery.tagsinput.css" />
</head>
<body>
<h3>List of keywords</h3>
<p>Press enter after each.</p>
  <input name="tags" id="tags" value="foo,bar,baz" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/js/jquery.tagsinput.js"></script>
  <script>
      $('#tags').tagsInput();
  </script>
</body>
