<div class="containerB">
    <h1>Locations known</h1>
    <div id="locationsKnown">
        <% locations.forEach(function(loc){ %>
        <input type ="checkbox"  name=<%=loc.name%> class=<%="loc"+loc.id%> value=<%=loc.id%> <% if(loc.isprivate == 1) { %>checked<% }%>/><%=loc.name%> <br/>
        <% }); %>
    </div>
</div>
<div class="containerB">
    <h1></h1>

</div>
<div class="containerB">

    <h1>Add new</h1>
    <div id="map-canvas"></div>

    <form name="newLocationForm" method="POST">
        <div id="errAdd"> </div>
        <div id="locationField">
            <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" name="address">
        </div>
        <input type="text" name="name" placeholder="Location name" id="nameField"> </input>
        <input type="text" name="latitude" id="latitudeField"> </input>
        <input type="text" name="longitude" id="longitudeField"/></input>
        <input type="checkbox" name="isprivate" id="privateField"> Private </input>
        <input type="submit" value="Submit" id="newLocationSubmit">
    </form>

</div>