<head>
    <link rel="stylesheet" href="/styles/slider.css"/>
    <link rel="stylesheet" href="/styles/idangerous.swiper.css"/>
    <link rel="stylesheet" href="/styles/idangerous.swiper.scrollbar.css"/>
    <link rel="styleSheet" href="/styles/smartScrollBar.css"/>
    <link rel="styleSheet" href="/styles/previewerInfo.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<h1>Previewer</h1>
<div id="buttonsPanel">
    <input id="nextButton" class="slideButton" type="button" onClick="nextSCSs(<%= nbSCS %>)" value="&gt;&gt;"/>
    <input id="previousButton" class="slideButton" type="button" onClick="previousSCSs(<%= nbSCS %>)" value="&lt;&lt;"/>
</div>

<div id="slider">
    <div class="swiper-container">
        <div id="swiper-wrapper" class="swiper-wrapper">
            <% for(var i = 0; i < nbSCS; i++ ){ %>
            <div class="swiper-slide blue-slide"></div>
            <% } %>
        </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div id="smartScrollBar"></div>
    </div>
<div  style="width:100%;text-align:center;">
<span id="majSpan">
        <input id="majButton" type="button" onClick="jajaxSmartScrollBar()" value="Preview"/>
            </span>
    </div>
    <div id="previewerInfo">

    </div>
    <div id="errorTimeOut"><p>We sincerely apologize, but an error occured (Timeout). Be sure that we have done all we
            can to prevent this error.</p></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/idangerous.swiper.min.js"></script>
<script src="/js/idangerous.swiper.scrollbar.min.js"></script>
<script src="/js/smartScrollBar.js"></script>
<script src="/js/jajaxScreenshotsViewer.js"></script>
<script src="/js/previewerInfo.js"></script>
<script type="text/javascript">
    var nbScreenshots = <%= nbSCS %>;
    jajaxSCSImages(nbScreenshots, "today", false);
    hidePleaseWait();
    $("#errorTimeOut").hide();
    var mySwiper = new Swiper('.swiper-container', {
        scrollbar: {
            container: '.swiper-scrollbar',
            hide: false,
            draggable: true
        }
    });</script>
