<head>
    <link rel="stylesheet" href="/styles/slider.css"/>
    <link rel="stylesheet" href="/styles/idangerous.swiper.css"/>
    <link rel="stylesheet" href="/styles/idangerous.swiper.scrollbar.css"/>
    <link rel="styleSheet" href="/styles/smartScrollBar.css"/>
    <link rel="styleSheet" href="/styles/previewerInfo.css"/>
</head>
<h1 style="text-align:center;">Previewer</h1>
<div id="slider">
    <div class="swiper-container">
        <div id="swiper-wrapper" class="swiper-wrapper">
            <% for(var i = 0; i < nbSCS; i++ ){ %>
            <div class="swiper-slide blue-slide"></div>
            <% } %>
        </div>
    </div>
    <div class="swiper-scrollbar" onmousemove="console.log('mouselùopve');"></div>
    <div id="smartScrollBar"></div>
    <div id="buttonsPanel">
        <input id="nextButton" type="button" onClick="nextSCSs(<%= nbSCS %>)" value="&gt;&gt;"/>
        <input id="previousButton" type="button" onClick="previousSCSs(<%= nbSCS %>)" value="&lt;&lt;"/>
        <span id="majSpan">
        <input id="majButton" type="button" onClick="jajaxSmartScrollBar()" value="Preview"/>
            </span>
    </div>
    </div>
    <div id="previewerInfo">

    </div>
    <div id="errorTimeOut"><p>We sincerely apologize, but an error occured (Timeout). Be sure that we have done all we
            can to prevent this error.</p></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/idangerous.swiper.min.js"></script>
<script src="/js/idangerous.swiper.scrollbar.min.js"></script>
<script src="/js/smartScrollBar.js"></script>
<script src="/js/jajaxScreenshotsViewer.js"></script>
<script src="/js/previewerInfo.js"></script>
<script type="text/javascript">
    var nbScreenshots = <%= nbSCS %>;
    jajaxSCSImages(nbScreenshots, "150129-190317044212_540_672.jpg");
    hidePleaseWait();
    $("#errorTimeOut").hide();
    var mySwiper = new Swiper('.swiper-container', {
        scrollbar: {
            container: '.swiper-scrollbar',
            hide: false,
            draggable: true
        }
    });</script>
