<div class="content">
  <div class="containerB">
	<% if(typeof time !== 'undefined'){time.forEach(function(t){ %>
      <h4>Record during

        <% if(t.weekEnd == 1 && t.week == 1 ){%>
          <span class="blue">week-ends</span> and <span class="blue">week</span>
        <%}%>
        <% if(t.weekEnd == 0 && t.week == 1){%>
          <span class="blue">weeks</span>
        <%}%>
        <% if(t.weekEnd == 1 && t.week == 0){%>
          <span class="blue">week-ends</span>
        <%}%>
          from
          <span class="blue"><%= t.fromHour%></span>
          to
          <span class="blue"><%= t.toHour%></span>

		<a class="close" onclick="removeTime(<%=t.id%>);">x</a><br/>
      </h4>
    <% }); }%>
  </div>
<% if(typeof time === 'undefined' || time.length === 0){ %>
  <div class="containerB"> 
    <div id="timeError"></div>
    <h4>Add new</h4>      
    <div id="addTime">
      <input type="checkbox" name="days" value="1" id="week"> Week </input>
      <input type="checkbox" name="days" value="2" id="weekEnd"> Week-End </input><br/>
      From <input type="time" name="hourStart" id="hourStart"/> to <input type="time" name="hourStop" id="hourStop"/><br/>
      <input type="submit" name="timeSubmit" value="Submit" id="timeSubmit" class="button" onClick="saveTime();">
    </div>
  </div>	 
</div>
<% } %>