#appsList {
    width:90%;
    display:table;
    table-layout: fixed;
}

.oneApp {
    padding-bottom:5px;
    position:relative;
    display: table-row;
}

#appListContainer {
    height:200px;
    overflow-y:scroll;
    overflow-x: hidden;
    width:100%;
}
#addAppForm {
    width:100%;
    text-align:center;
    padding:10px;

}

/*  **************************************
    **                                  **
    **          Locations               **
    **                                  **
    **************************************  */

div#map-canvas {
    width: 60%;
    height: 175px;
    float: left;
}

div#newLocationForm {
    float: left;
    width: 36%;
    margin-left: 10px;
}

.containerB input {
    margin-bottom: 10px;
}

input#newLocationSubmit {
    float: right;
}