body {
    margin: 10px;
    margin-top: 20px;
    background-color: #F7F8E0;
}
.swiper-container {
    width: 400px;
    height: 300px;
}
.swiper-slide {
    color:#fff;
    font-size:25px;
    text-align:center;
    line-height:200px;
}
.swiper-scrollbar {
    height:10px;
    margin:20px auto;
    width: 400px;
}
.red-slide {
    background:#900;
}
/* Called blue, but not blue at all ! */
.blue-slide {
    background:white;
}
.orange-slide {
    background:#F63;
}

/*Images sizes here*/
.blue-slide >img{
    width:400px;
    height:300px;
}

#nextButton {
    float : right;
    margin-top:120px;
    margin-right:50px;
}
#previousButton {
    float: left;
    margin-top:120px;
    margin-left:50px;
}
#buttonsPanel {
    text-align : center;

}
#pleaseWait
{
    text-align: center;
}

.slideButton {
    border: none;
    background: #97B3C2;
    padding: 20px;
    box-shadow: 4px 2px 0px #DFDFDF;
    border-radius: 6px;
    color: #fff;
    font-weight: bolder;
}

input#majButton {
    border: 2px solid #D0D6D8;
    background: #DBE2E2;
    border-radius: 7px;
    color: #000102;
    padding: 8px 30px;
    font-size: 15px;
}